body {
    background-color: #1691bd;
    color: white;
    font-family: sans-serif;
}

input, textarea {
    background: white;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px 0 15px 0;
    outline: none;
}

button {
    display: block;
}

button {
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ;
    padding: 10px 15px;
    margin: 20px 0;
}

button:hover {
    background: black;
    color: white;
}
